[Desktop Entry]
Name=Ledger Live
GenericName=Crypto Wallet
Exec=ledger-live-desktop-2.3.2-linux-x86_64.AppImage
Type=Application
Terminal=false
Categories=Utility;
